@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

p,
small {
  font-family: "Open Sans";
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

header {
  top: 0;
  width: 100%;
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
}

nav {
  display: flex;
  padding: 50px 0px;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

nav button {
  padding: 10px 50px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  background: white;
  box-shadow: 0px 0px 20px 2px lightgrey;
  color: hsl(192, 100%, 9%);
  font-family: Poppins, sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.header-content {
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  column-gap: 10px;
}

.header-content .header-text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
  row-gap: 20px;
}

.header-content .header-text p {
  font-family: Poppins, sans-serif;
  font-weight: 600px;
  color: hsl(208, 11%, 55%);
}

.header-text button {
  padding: 10px 50px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  outline: 0;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 2px lightgrey;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.header-image img {
  width: 500px;
  height: 500px;
  max-width: 100%;
}

.container {
  width: 79%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px lightgrey;
}

.container > div img {
  width: 250px;
  height: 250px;
  padding: 20px 0px;
  min-width: 200px;
}

.container .grow-together,
.container .flowing,
.container .users {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

footer {
  bottom: 0;
}

.footer-card {
  margin: auto;
  width: 80%;
  max-width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  justify-content: center;
  transform: translateY(40px);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px lightgrey;
}

.footer-card p {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
  text-align: center;
}

.footer-card button {
  padding: 10px 50px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  outline: 0;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 2px lightgrey;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.footer-content {
  width: 100%;
  background-color: hsl(192, 100%, 9%);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer-content > div {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
  background-color: hsl(192, 100%, 9%);
  color: white;
}

.contact-info {
  width: 35%;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-info > img {
  width: 150px;
}

.contact-info p {
  font-weight: 700;
}

.location,
.email,
.phone {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 30px;
  font-weight: 700;
  color: hsl(208, 11%, 55%);
}

.location img,
.email img,
.phone img {
  padding-right: 20px;
}

.footer-nav {
  margin-top: 50px;
}
.footer-nav nav {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav ul li {
  padding-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  color: hsl(208, 11%, 55%);
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-media > div i {
  font-size: 18px;
  width: 16px;
  height: 16px;
  padding: 9px 9px;
  margin-right: 20px;
  border: 2px solid hsl(193, 100%, 96%);
  border-radius: 50%;
  color: hsl(193, 100%, 96%);
}

@media (max-width: 1024px) {
  .header-content {
    width: 92%;
  }

  nav {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
  }

  .header-content .header-text {
    width: 90%;
    align-items: center;
  }

  .container > div {
    flex-direction: column-reverse;
  }

  .container > div:nth-child(2) {
    flex-direction: column;
  }

  .container .grow-together,
  .container .flowing,
  .container .users {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-content > div {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    width: 80%;
  }

  .social-media {
    height: 100px;
  }
}

@media (max-width: 460px) {
  nav {
    width: 95%;
  }

  nav button {
    padding: 7px 30px;
  }

  .logo img {
    width: 100px;
  }

  .header-content .header-text {
    height: auto;
  }

  .contact-info {
    width: 100%;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
